<%- include ("header.ejs") %>

<br>

<!-- <div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary">Round 1 <img class="card-img-bottom" src="/images/noun_Australian Grand Prix_189890.png"></button>
  <button type="button" class="btn btn-secondary">Round 2 <img class="card-img-bottom" src="/images/noun_Bahrain Grand Prix_189891.png"></button>
  <button type="button" class="btn btn-secondary">Round 3 <img class="card-img-bottom" src="/images/noun_Bahrain Grand Prix_189891.png"></button>
  <button type="button" class="btn btn-secondary">Round 1 <img class="card-img-bottom" src="/images/noun_Australian Grand Prix_189890.png"></button>
  <button type="button" class="btn btn-secondary">Round 2 <img class="card-img-bottom" src="/images/noun_Bahrain Grand Prix_189891.png"></button>
  <button type="button" class="btn btn-secondary">Round 3 <img class="card-img-bottom" src="/images/noun_Bahrain Grand Prix_189891.png"></button>
</div> -->

<!-- <div class="card-group">
  <div class="card bg-light text-center">
    <h5 class="card-title text-nowrap">Round 1</h4>
    <p class="card-text">20/03</p>
    <img class="card-img-bottom" src="/images/noun_Australian Grand Prix_189890.png">
    <a href="#" class="stretched-link"></a>
  </div>

  <div class="card bg-light text-center">
    <h5 class="card-title text-nowrap">Round 2</h4>
    <p class="card-text">10/04</p>
    <img class="card-img-bottom" src="/images/noun_Bahrain Grand Prix_189891.png">
    <a href="#" class="stretched-link"></a>
  </div>

  <div class="card bg-light text-center">
    <h5 class="card-title text-nowrap">Round 3</h4>
    <p class="card-text">10/05</p>
    <img class="card-img-bottom" src="/images/noun_Bahrain Grand Prix_189891.png">
    <a href="#" class="stretched-link"></a>
  </div>

  <div class="card bg-light text-center">
    <h5 class="card-title text-nowrap">Round 4</h4>
    <p class="card-text">15/05</p>
    <img class="card-img-bottom" src="/images/noun_Bahrain Grand Prix_189891.png">
    <a href="#" class="stretched-link"></a>
  </div>

  <div class="card bg-light text-center">
    <h5 class="card-title text-nowrap">Round 5</h4>
    <p class="card-text">12/06</p>
    <img class="card-img-bottom" src="/images/noun_Bahrain Grand Prix_189891.png">
    <a href="#" class="stretched-link"></a>
  </div>

  <div class="card bg-light text-center">
    <h5 class="card-title text-nowrap">Round 6</h4>
    <p class="card-text">19/07</p>
    <img class="card-img-bottom" src="/images/noun_Bahrain Grand Prix_189891.png">
    <a href="#" class="stretched-link"></a>
  </div>
</div> -->
<br/>

<ul class="nav nav-tabs">
  <li class="nav-item">
  <a class="nav-link active" data-toggle="tab" href="#standings">Standings</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" data-toggle="tab" href="#f1-result">F1 Result</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="standings" role="tabpanel">
    <div class="table-responsive-sm">
    <table class="table table-sm table-hover bg-light">
      <h4 class="text-center mb-0 table-active">1<sup>st</sup> Division</h4>
        <thead>
        <tr class="table-active">
            <th scope="col">#</th>
            <th scope="col">Team Name</th>
            <th scope="col">Owner</th>
            <th scope="col">Points</th>
            <th scope="col">Ecclestones</th>
        </tr>
        </thead>
        <tbody>
          <% let index = 0; %>
          <% standingsData.forEach(function(teamData, idx, arr) { %>
            <% if ( teamData.currentDivision == 1 ) { %>
              <% index += 1; %>
              <% if (Object.is(arr.length - 1, idx)) { %>
                <tr class="table-danger">
              <% } else { %>
                <tr>
              <% } %>
                <th scope="row"><%= index %></th>
                <td><%= teamData.team1Name %></td>
                <td><%= teamData.teamOwner %></td>
                <td><%= teamData.currentPoints %></td>
                <td class="text-danger"><%= teamData.creditsTeam1 %><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                  </svg>
                </td>
              </tr>
            <% } %>
          <% }) %>
        <tr>
            <th scope="row">1</th>
            <td>Small Block Turbo Racing</td>
            <td>Lucas</td>
            <td>1327</td>
            <td class="text-danger">10521 <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
              </svg>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Scuderia Hunt Turbo</td>
            <td>Fefo</td>
            <td class="text-success">1323 <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
              </svg>
            </td>
            <td>5275</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Snow-White Scuderia</td>
            <td>Dudu</td>
            <td class="text-danger">1259 <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
              </svg>
            </td>
            <td>9558</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Geleia Racing</td>
            <td>Luis Carlos Geleia</td>
            <td>1230</td>
            <td>4914</td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="table-responsive-sm">
    <table class="table table-sm table-hover bg-light">
        <thead>
          <h4 class="text-center mb-0 table-active">2<sup>nd</sup> Division</h4>
        <tr class="table-active">
            <th scope="col">#</th>
            <th scope="col">Team Name</th>
            <th scope="col">Owner</th>
            <th scope="col">Points</th>
            <th scope="col">Ecclestones</th>
        </tr>
        </thead>
        <tbody>
          <% index = 0; %>
          <% standingsData.forEach(function(teamData) { %>
            <% if ( teamData.currentDivision == 2 ) {%>
              <% index += 1; %>
              <% if (index == 1 || index == 2) { %>
                <tr class="table-primary">
              <% } else { %>
                <tr>
              <% } %>
                <th scope="row"><%= index %></th>
                <td><%= teamData.team1Name %></td>
                <td><%= teamData.teamOwner %></td>
                <td><%= teamData.currentPoints %></td>
                <td class="text-danger"><%= teamData.creditsTeam1 %><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                  </svg>
                </td>
              </tr>
            <% } %>
          <% }) %>
        <tr>
            <th scope="row">1</th>
            <td>Small Block Turbo Racing</td>
            <td>Lucas</td>
            <td>1327</td>
            <td class="text-danger">10521 <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
              </svg>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Scuderia Hunt Turbo</td>
            <td>Fefo</td>
            <td class="text-success">1323 <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
              </svg>
            </td>
            <td>5275</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Snow-White Scuderia</td>
            <td>Dudu</td>
            <td class="text-danger">1259 <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
              </svg>
            </td>
            <td>9558</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Geleia Racing</td>
            <td>Luis Carlos Geleia</td>
            <td>1230</td>
            <td>4914</td>
        </tr>
        </tbody>
    </table>
    </div>
    <%- include ("engineChassiDriversTable.ejs") %>
  </div>
  <div class="tab-pane fade" id="f1-result" role="tabpanel"><h1>F1 Result</h1></div>
</div>

<%- include ("footer.ejs") %>